<!DOCTYPE html>
{% load static%}
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
        {% include "script_pong.html" %}
    </head>
    <body>
        <!-- date -->
        <div class="container">
            <h1 class="date font-weight-bold text-black" style="position: absolute; top: 10px; left: 10px; font-size: 85%; font-weight: 600;">{{ date|date:"d F Y H:i:s" }}</h1>
        </div>
        <!-- title -->
        <div class="container">
            <div class="row-mt-5 justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h1 class="font-weight-bold text-black mt-5" style="font-weight: 800;">Welcome to ft_transcendance</h1>
            </div>
            <div class="row-mt-5 justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h2 class="font-weight-bold text-black mt-5" style="font-weight: 800;">PONG 1972</h2>
        </div>
        <!-- image -->
        <div class="container d-flex justify-content-center align-items-center">
            <img src="{% static 'pong_mainpage_image.avif' %}" class="img-fluid w-50 border border-dark border-3 mt-5" alt="Pong Main Page">
        </div>
        <!-- buttons -->
        <div class="button_group">
            <div class="container d-flex justify-content-center align-items-center">
                <button class="btn btn-dark btn-lg mt-5" style="background-color: black">SIGN UP</button>
            </div>
            <div class="container d-flex justify-content-center align-items-center">
                <button class="btn btn-dark btn-lg mt-5" style="background-color: black">LOG IN</button>
            </div>
        </div>
    </body>
</html>
